/* =============
   sign up
============= */

.signup-background{

  @include lg{
    background-image: url('../img/signup/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

 }
 
 
 .signup{
 
 
    color: $white;
    font-weight: 400;
    font-size: 12px;
 
 
    @include lg{
      font-size: 24px;
      margin: 0px 0px 0px 950px;
    }
 
 
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
     ". sucontent ."
    ;
 
 
    @include lg{
      display:grid;
      padding-top: 150px;
      grid-template-columns: auto 525px 136px;
      grid-template-areas:
      ". sucontent ."
    }
   
    .sucontent{
        height: 432px;
        background-color: $green;
        color: $white;
        text-align: center;
        padding: 16px;
        grid-area:sucontent;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
        "sum"
        "suf"
        "sub"
        ;
 
        @include lg{
          height: 769px;
          padding: 16px 32px 16px 32px;
        }

        .sum{
          grid-area: sum;
          margin: 0px;
        }

        .suf{
          grid-area: suf;
          margin: 0px;
          row-gap: 16px;
          display: grid;
          grid-template-columns: auto;
          grid-template-areas: 
          "suf1"
          "suf2"
          "suf3";

          .suf1{
            grid-area: suf1;
          }

          .suf2{
            grid-area: suf2;
          }

          .suf3{
            grid-area: suf3;
          }
        }

        .sub{
          grid-area: sub;
          margin: 32px;
        }
    }
 
 
    h1{
      align-self: center;
      font-size: 32px;
      font-weight: 700;
 
 
      @include lg{
        font-size: 96px;
      }
    }
 
 
    p{
      align-self: center;
    }
 
 
    button{
      min-height: 16px;
      color:$green;
      background-color: $white;
      padding:4px 64px 4px 64px;
      text-decoration: none;
      text-align:center;
      border:none;
      transition: .5s;

      @include lg{
        max-height: 40px;
      }

  }

  button:hover{
    color: $white;
    background-color: $hot-pink;
    transition: .5s;
  }

  form{
    width: 100%;
    min-height: 16px;
    display:flex;
    flex-flow:wrap;
    justify-content:end;

    @include lg{
      max-height: 40px;
    }

    input{
        width:100%;
        background-color: $green;
        color:$white;
        border-color: $white;
        border-style: solid;
  }

  ::placeholder{
    color: white;
    opacity: 100%;
  }
   
 } 

 background-image{
  display: none;

  @include lg{
    display: block;
  }
 }
}