/* =============
   specs
============= */

.specs{

  color: $dark-grey;
  font-weight: 400;
    
    padding: 0px 0px 96px 0px;
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
     ". scontent ."
    ;

    @include lg{
      padding: 0px 0px 204px 0px;
      display:grid;
      grid-template-columns: 136px auto auto 136px;
      grid-template-areas: 
      ". scontent ."
    ;
    }

    .scontent{
      grid-area:scontent;
      display:grid;
      grid-template-columns: auto;
      grid-template-areas: 
      "s2"
      "s1"
      ;

      @include lg{
        grid-area:scontent;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "s1 s2"
        ;
      }

      .s1{
        grid-area: s1;
      }

      .s2{
        display: none;
        grid-area: s2;

        @include lg{
          display: block;
          grid-area: s2;
        }
      }
    }

    h5{
      font-size: 16px;
      color: $purple;
      margin: 8px 0px 8px 0px;

      @include lg{
          font-size: 32px;
      }
    }

    p{
        color: $dark-grey;
        font-size: 16px;
        margin: 8px 0px 8px 0px;

        @include lg{
            font-size:24px;
        }
    }
}