/* =============
    Header
============= */

.header{

    background: $navy;
    color: $white;
    max-height: 77px;
    font-size: 24px;

    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". hcontent ."
    ;

    .hcontent{

        grid-area: hcontent;
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        "hc1 hc7 hc8"; 

        @include lg{
            grid-area: hcontent;
            display:grid;
            grid-template-columns: auto auto auto auto auto auto auto auto;
            grid-template-areas: 
            "hc1 hc2 hc3 hc4 hc5 hc6 hc7 hc8";
        }

        .hc1{
            grid-area: hc1;
        }

        .hc2{
            display: none;

            @include lg{
                display: block;
                grid-area: hc2;
            }
        }

        .hc3{
            display: none;

            @include lg{
                display: block;
                grid-area: hc3;
            }
        }

        .hc4{
            display: none;

            @include lg{
                display: block;
                grid-area: hc4;
            }
        }

        .hc5{
            display: none;

            @include lg{
                display: block;
                grid-area: hc5;
            }
        }

        .hc6{
            display: none;

            @include lg{
                display: block;
                grid-area: hc6;
            }
        }

        .hc7{
            grid-area: hc7;
        }

        .hc8{
            grid-area: hc8;
        }
    }

    a{
        color: $white;
        text-decoration: none;
        transition: .5s;
    }

    a:hover{
        color: $red;
    }

    h5{
        color: $white;
        font-size: 20px;
        margin:8px 0px 8px 0px;

        @include lg{
            color: $white;
            font-size: 40px;
            margin:16px 0px 16px 0px;
        }
    }
}

header.container{
    padding: 24px 0;
    position: fixed;
    width: 100%;
    background-color: white;

    .content{

        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "logo burger";

        @include lg{
            grid-template-areas: "logo nav";
        }

        .logo{
            color: $black;
            font-size: 40px;
        }

        .burger-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg{
                display: none;
            }

            button{
                border: none;
                background-color: transparent;
                color: $black;
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

}
